.lining-nums {
  font-feature-settings: 'lnum', 'pnum';
  font-variant-numeric: lining-nums proportional-nums;
}

.tabular-nums {
  font-feature-settings: 'lnum', 'tnum';
  font-variant-numeric: lining-nums tabular-nums;
}

